html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  height: 100vh;
  width: 100vw;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  font-family: sans-serif;
  font-size: 0.9rem;

}

.intro__title {
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  margin: 10px 0;
  font-size: 3rem;
}

.intro__description {
  margin-bottom: 20px;
}

.intro {
  max-width: 80vmin;
  min-width: 300px;
}

.intro__picture {
  width: 100%;
}

.intro__picture>img {
  max-width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}

.intro__information {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #283e50;
  padding: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 10px;
  margin: 0;
  border: 0px;
  width: 100%;
  color: #ffffff;

}

a {
  text-decoration: none;
}

.rules {
  background-color: #1fcca4;
}

.rules:hover {
  background-color: #1cbb96;
}

.start-play {
  background-color: #0197f6;
}

.start-play:hover {
  background-color: #0090e9;
}

button.rules {
  border-bottom: 1px solid #283e50;

}

/* ukol-piskvorky-2 */


img.rules,
img.start-play {
  padding: 8px;
  border-radius: 5px;
}

.game__header,
.game__player,
.game__buttons {
  display: flex;
}

.game__header {
  justify-content: space-between;
}

.game__player,
.game__buttons {
  gap: 5px;
}

.game__board {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  min-height: 80vmin;
  border: 1.5px solid #2e2c56;
}

.game__board-btn {
  width: calc(100% / 10);
  height: calc(100% / 10);

  background-color: #ffc8da;
  border: 1.5px solid #2e2c56;
}

.game__board-btn:focus,
.game__board-btn:hover {
  opacity: 0.6;
}
